extends layout

block content
  h1 Add New Message
  form(
    method="POST"
    action="/new"
  )
    div(class="field-contain")
        label(for="messageText") Text 
        input(
            type="text" 
            id="messageText"
            name="messageText"
        )
    div(class="field-contain")
        label(for="messageUser") User 
        input(
            type="text" 
            id="messageUser"
            name="messageUser"
        )
    input(
        type="submit"
        value="Submit"
    )

